/*h1 {
    color: black;
    font-weight: bold;
}*/

.subtitle {
    color: #fcfcfcfc;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.549);
}