<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes Favoritos</title>
</head>

<body>

    <mat-toolbar>
        <span class="title">Minha Primeira Aplicação Angular</span>
    </mat-toolbar>

    <spa-menu></spa-menu>

    <section>
        <div class="subtitle">Escolha entre Filmes e Séries</div>
        <div>
            <mat-button-toggle class="btn-exibir" (click)="exibirTabela()">Exibir Filmes</mat-button-toggle>
            <mat-button-toggle class="btn-fechar" (click)="mudarValor()">Fechar Filmes</mat-button-toggle>
            <mat-button-toggle class="btn-exibir" (click)="exibirTabelaS()">Exibir Séries</mat-button-toggle>
            <mat-button-toggle class="btn-fechar" (click)="mudarValorS()">Fechar Séries</mat-button-toggle>
        </div>
    </section>


    <table *ngIf="exibeTabela">
        <spa-filmes></spa-filmes>
        <tr>
            <th>Nome do Filme</th>
            <th>Trailer</th>
            <th>IMDb</th>
            <th>Genero</th>
            <th>Lançamento</th>
        </tr>

        <tr *ngFor="let filme of listaFilmes">
            <td>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ filme.nome }}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image width="560" height="220" src="{{ filme.img }}">
                    <mat-card-content>
                        <p>
                            Descrição: <br> - {{ filme.descricao }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
            <td>
                <iframe width="560" height="425" [src]="listarTrailers(filme.urlTrailer)" frameborder="0" allowfullscreen>
                </iframe>
            </td>
            <td>
                <a href="{{ filme.urlIMDb }}" target="_blank">
                    <button role="button" class="botao">
                        Visitar IMDb
                    </button>
                </a>
            </td>
            <td>{{ filme.genero }}</td>
            <td>{{ filme.lancamento }}</td>
        </tr>
    </table>


    <table *ngIf="exibeTabelaS">
        <spa-series></spa-series>
        <tr>
            <th>Nome da Série</th>
            <th>Trailer</th>
            <th>IMDb</th>
            <th>Genero</th>
            <th>Lançamento</th>
        </tr>
        <tr *ngFor="let serie of listaSeries">
            <td>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ serie.nome }}
                            <mat-card-subtitle>{{ serie.qtdTemporada }} Temporada(s)</mat-card-subtitle>
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image width="560" height="220" src="{{ serie.img }}">
                    <mat-card-content>
                        <p>
                            Descrição: <br> - {{ serie.descricao }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </td>
            <td>
                <iframe width="560" height="425" [src]="listarTrailers(serie.urlTrailer)" frameborder="0" allowfullscreen>
                </iframe>
            </td>
            <td>
                <a href="{{ serie.urlIMDb }}" target="_blank">
                    <button role="button" class="botao">
                        Visitar IMDb
                    </button>
                </a>
            </td>
            <td>{{ serie.genero }}</td>
            <td>{{ serie.lancamento }}</td>
        </tr>
    </table>

    <footer>

        <div class="subtitle">© Copyright 2021 Cristiano S da Mota
            <p style="float: right;">Digital Innovation one | Bootcamp Angular Avanade</p>
        </div>

        <div>
            <mat-list class="lista" role="list">
                <mat-list-item role="listitem">
                    <a href="https://www.linkedin.com/in/cristianosm91/" target="_blank">
                        <mat-button-toggle role="button" class="botaoContatos">
                            Linkedin
                        </mat-button-toggle>
                    </a>
                    <a href="https://github.com/Cristianosm91" target="_blank">
                        <mat-button-toggle role="button" class="botaoContatos">
                            GitHub
                        </mat-button-toggle>
                    </a>
                    <a href="mailto:cristianosm91@outlook.com" target="_blank">
                        <mat-button-toggle role="button" class="botaoContatos">
                            Email
                        </mat-button-toggle>
                    </a>
                </mat-list-item>
            </mat-list>
        </div>

    </footer>

</body>